section {
    border: red solid 2px;
    height: 100px;
}

.section__samy {
    width: 100%;
}

.section__himed {
    width: 66%;
    border: black 2px solid;
}

.section__mouss {
    width: 33%;
}
